<p id="notice"><%= notice %></p>

<p>
   <%= image_tag @product.image_url(:thumb) if @product.image? %>
      <div class="name"><%= @product.product %></div>
</p>

<p>
  <b>Id</b>
  <%= @product.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @product.product %>
</p>

<p>
  <b>Describe:</b>
  <%= @product.describe %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Inventory:</b>
  <%= @product.inventory %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
